.carousel {
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.inner {
  transition: transform 0.3s;
  display: flex;

  /* @media (width > 769px) {
    width: 50vw;
  } */
}

.inner > * {
  width: 100%;
  flex-shrink: 0;
}
.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70vh;
  background-color: black;
  color: whitesmoke;
}

.carousel-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media (width > 769px) {
    font-size: 2rem;
    margin: 1rem;
  }
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
  @media (width < 768px) {
    font-size: 0.5rem;
  }
}

.indicators > button.active {
  background-color: var(--color-white);
  color: var(--color-dove-grey);
}
