.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  display: flex;
}

.inner > * {
  width: 100%;
  flex-shrink: 0;
}
.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: black;
  color: whitesmoke;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: aqua;
  color: red;
}
