:root {
  --color-green: #bbee11;
  --color-white: #fcf7f8;
  --color-light-grey: #ced3dc;
  --color-dove-grey: #aba9c3;
  --color-dark-grey: #525256;

  --border-radius: 8px;
  --border: 1px solid var(var(--color-green));

  --font-family-base: "Oxanium", sans-serif;
  --transition-delay: 0.2s;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family-base);
}
body {
  margin: 0 auto;
  background-color: var(--color-dove-grey);
}

button {
  border-radius: var(--border-radius);
  /* border: var(--border); */
  color: var(--color-dark-grey);
  background-color: var(--color-green);
}
