:root {
  --color-green: #bbee11;
  --color-white: #fcf7f8;
  --color-light-grey: #ced3dc;
  --color-dove-grey: #aba9c3;
  --color-dark-grey: #525256;

  --border-radius: 8px;
  --border: 1px solid var(var(--color-green));

  --font-family-base: "Oxanium", sans-serif;
  --transition-delay: 0.2s;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  box-sizing: border-box;
  font-family: var(--font-family-base);
}

.map-container {
  width: 100%;
  height: 200px;
}
